

body{
   background: #6dc7bc;
   width: 100%;
}

#container{
  background: #6dc7bc;
  width: 80%;
  margin: 0 auto 0 auto; 
}

header{
  background: #6dc7bc;
}

h1.logo a {
  width: 50%;
  height: 200px;
  float: left;
  position: relative;
  font-size: .97em;
}

nav li{
  display: inline-block;
  font-family: marker-felt;
}

/*#logo{
  width: 400px;
  height: 200px;
  float: left;
  background: url("http://placehold.it/15x45");
  background-repeat: no-repeat;
}*/

nav{
  width: 50%;
  height: 200px;
  font-size: .96em;
  padding-top: 3%;
  float: right;
}

#slideshow{
  background: #6dc7bc;
  height: 700px;
  clear: both;
}

#slideshow_holder{
  width: 98%;
  align: center;
  overflow: hidden;
  }
}

#article{
  width: 50%;
  height: 300px;
  float: left;
  background: #E9E2C5;
}

#list{
  width: 50%;
  height: 300px;
  float: left;
  background: #E9E2C5;
}

h2{
  background: url("http://placehold.it/30x30");
  background-repeat: no-repeat;
  padding-left: 40px;
}

#bio{
  background: #BEEFF1;
  height: 300px;
  clear: both;
}

#donate{
  width: 50%;
  height: 200px;
  float: left;
  background: #6dc7bc;
}

#connect{
  width: 50%;
  height: 200px;
  float: left;
  background: #6dc7bc;
}

footer{
  background: #1C3652;
  height: 275px;
  padding: 100px;
}