

body{
   background: #6dc7bc;
   width: 100%;
}

#container{
  background: #6dc7bc;
  width: 80%;
  margin: 0 auto 0 auto; 
}

header{
  background: #6dc7bc;
  height: 10%;
  padding-bottom: 20px;
}

#logo{
  width: 50%;
  float: left;
  position: relative;
  font-size: .97em;
}

nav li{
  display: inline-block;
  font: 50px 'Mathlete-Bulky';
  text-align: right;
  margin-right: 50px;
}

#donate_button{
  font: 30px 'Mathlete-Bulky';
  position: absolute;
  top: 0px;
  right: 13.00%;
  padding: .2% 1.5%;
  color: #f8f7ee;
  background: #FF5F3C;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  transition: all 200ms;
}

nav{
  width: 50%;
  font-size: .96em;
  padding-top: 3%;
  float: right;
}

#slideshow{
  background: #6dc7bc;
  height: 35%;
  clear: both;
}

#slideshow_holder{
  width: 100%;
  align: center;
  overflow: hidden;
}


#article{
  width: 50%;
  height: 30%;
  float: left;
  background: #E9E2C5;
}

#article h1{
  font: 200px 'Mathlete-Bulky';
  margin: 0;
  text-align: center;
}

#article h2{
  font: 100px 'Mathlete-Bulky';
  margin: 0;
  text-align: center;
}

#article p{
  font: 25px 'Copperplate';
  background: url("http://placehold.it/30x30");
  background-repeat: no-repeat;
  padding-left: 40px;
  text-align: center;
}

#list{
  font: 75px 'Mathlete-Bulky';
  width: 50%;
  height: 30%;
  float: left;
  background: #E9E2C5;
}

#bio{
  background: #BEEFF1;
  height: 300px;
  clear: both;
}

#donate{
  width: 50%;
  height: 200px;
  float: left;
  background: #6dc7bc;
}

#connect{
  width: 50%;
  height: 200px;
  float: left;
  background: #6dc7bc;
}

footer{
  background: #1C3652;
  height: 275px;
  padding: 100px;
}